--- 
layout: default
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://google.com/article"
    },
    "headline": "{{page.title}}",
    "image": [
      "https://avatars1.githubusercontent.com/u/12044174?s=460&v=4"
    ],
    "datePublished": "{{ page.date | date: "%Y/%m/%d" }}T08:00:00+08:00",
    "dateModified": "{{ page.date | date: "%Y/%m/%d" }}T08:00:00+08:00",
    "author": {
      "@type": "Person",
      "name": "{{site.author}}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{site.author}}",
      "logo": {
        "@type": "ImageObject",
        "url": "https://avatars1.githubusercontent.com/u/12044174?s=60&v=4"
      }
    },
    "description": "{{page.description}}"
  }
</script>
<span itemscope itemscope='itemscope' itemprop="mainEntityOfPage" itemtype="http://schema.org/Article">
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
  <div class="container">
    <div class="columns">
      <div class="column three-fourths">
        <div class="collection-title">
          <h1 itemprop="headline" class="collection-header">{{ page.title }}</h1>
          <div class="collection-info">
            {% if page.date %}
            <span itemprop="datePublished" content="{{ page.date | date: " %Y/%m/%d " }}" class="meta-info">
              <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d" }}
            </span>
            <meta itemprop="datePublished" content="{{ page.date | date: "%Y/%m/%d" }}"/>
            <meta itemprop="dateModified" content="{{ page.date | date: "%Y/%m/%d" }}"/>
            {% endif %} 
            {% for cat in page.categories %}
            <span class="meta-info">
              <span class="octicon octicon-file-directory"></span>
              <a href="/categories/#{{ cat }}" title="{{ cat }}">
                {{ cat }}
              </a>
            </span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / .banner -->
<section class="container content">
  <div class="columns">
    <div class="column three-fourths">
      <span itemprop="articleBody">
          <article class="article-content markdown-body">
              {{ content }}
              <br/>
              <p>
                  原文链接：{{ site.url }}{{ page.url | url_decode }}
              </p>
          </article>
      </span>
      <div class="share">
        {% include sns-share.html %}
      </div>
      <div class="comment">
        {% include comments.html %}
      </div>
    </div>
    <div class="column one-fourth">
      {% include sidebar-search.html %} 
      {% include sidebar-post-nav.html %}
    </div>
  </div>
</section>
<!-- /section.content -->